@import url(app.css);

.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-heading {
  text-transform: uppercase;
  font-size: 2rem;
  margin: 1rem;
  text-align: center;
}

.home-sub-heading {
  font-size: 1.5rem;
  margin: 1rem;
}

.home-container {
  width: 80vw;
  margin: 2rem 0;
  justify-content: center;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.card {
  width: 19rem;
  height: 23rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 10px;
  padding: 1.5rem 2rem;
  box-shadow: 0 0 10px 0 rgb(188 188 188);
  transition: all 0.3s linear;
}

.card:hover {
  transform: scale(1.02);
}

.card-name {
  margin: 0 auto;
}

.home-container a {
  text-align: center;
  margin-top: 1rem;
}

.appointment-btn {
  font-size: 0.8rem;
  padding: 1rem;
  margin: 1rem auto;
}

@media (max-width: 1126px) {
  .home-container {
    width: 78vw;
  }
}

@media (max-width: 875px) {
  .home-container {
    width: 75vw;
  }
}

@media (max-width: 700px) {
  .home-container {
    width: 70vw;
  }
}

@media (max-width: 537px) {
  .home-container {
    width: 65vw;
  }
}

@media (max-width: 426px) {
  .home-container {
    width: 55vw;
  }
}
