@import url(app.css);

.notif-section {
  height: 70vh;
  justify-content: flex-start;
}

.disable-btn {
  cursor: no-drop;
}

.disable-btn:hover {
  background-color: rgba(0, 128, 0, 0.528) !important;
}
